main {
    width: 98%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
}

div {
    width: 50%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

p {
    text-align: justify;
    font-size: 64px;
    margin: 0;
}

p.completed {
    opacity: 0.5;
    transition: opacity 1s ease-in-out;
}