main {
    width: 98%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
}


.completed {
    opacity: 0.5;
}

.content {
    width: 35%;
    height: 20vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content p {
    margin: 0;
    text-align: justify;
    font-size: 60px;
}